/* mini popup */
.dpd .ui-dialog-mini-popup {
    border-radius: 3px;
    box-shadow: 1px 1px 0px grey;
}
.dpd .arrow:after {
    background: white;
    border:1px solid grey;
}
.dpd .arrow {
    width: 70px;
    height: 10px;
    overflow: hidden;
    position: absolute;
    left: 33%;
    margin-left: -20px;
    bottom: -10px;
}
.dpd .arrow.top {
    top: -10px;
    bottom: auto;
}
.dpd .arrow.left {
    left: 40%;
}
.dpd .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 20px;
    height: 20px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.dpd .arrow.top:after {
    bottom: -20px;
    top: auto;
}
/*search popup*/
.dpd .arrow-searchpopup:after {
    background: white;
    border:1px solid grey;
}
.dpd .arrow-searchpopup {
    width: 70px;
    height: 10px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: -10px;
}
.dpd .arrow-searchpopup.top {
    top: -10px;
    bottom: auto;
}
.dpd .arrow-searchpopup.left {
    left: 50%;
}
.dpd .arrow-searchpopup:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 20px;
    height: 20px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.dpd .arrow-searchpopup.top:after {
    bottom: -20px;
    top: auto;
}